html,head,page{
    height: 100%;
    width: 100%;
    margin:0px;
}

page{
    font-size: 250px;
    height: 100%;
    position: absolute;
  text-align: center;
    padding-top: 40%;

}
#c{background: aquamarine;
    animation: c 3s infinite;}
#x{background: red;
    animation: x 3s infinite;}
#q{
    animation: q 3s infinite;}
#d{background: black;
    color: white;
    animation: d 3s infinite;}

@keyframes c {
    0%{opacity: 0}
    20%{opacity:100}
    40%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 0}
    100%{opacity: 0}}
@keyframes x {
    0%{opacity: 0}
    20%{opacity:0}
    40%{opacity: 100}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}}

@keyframes q {
    0%{opacity: 0}
    20%{opacity:0}
    40%{opacity: 0}
    60%{opacity: 0}
    80%{opacity:100}
    100%{opacity: 0}}
@keyframes d {
    0%{opacity: 0}
    20%{opacity:0}
    40%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 0}
    100%{opacity: 100}}


